name: 'run tests'

on:
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/checkout@v3

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Run Tests
      run: |
        ./gradlew test