name: 'run tests'

on:
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup java
        uses: actions/setup-java@v3
        with:
         java-version: 19.0.1
         distribution: zulu

      - name: Run Tests
        run: |
          gradlew test